@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');
*{
    font-family: 'Noto Sans Thai', sans-serif;

}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .min-h-screen {
   min-height: 0vh !important;
}

.logo img {
  height: 92px;
}
.bannertop{
  /* background-image: linear-gradient(to right,#d8b5ff, #1eae98); */
  /* background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80"); */
  position: relative;
  width: 100%;
}
img.banner{
  width: 100%;
  height: 621px;
}
.row.titlebanner {
  padding: 30px;
  justify-content: center;
  margin-right: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
  background: #6fa8dc;
}
nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
  height: 92px;
  position: static;
}
a.navbar-brand{
  justify-content: center;
}
.homenews {
  padding: 20px;
}

/* header */
.headimg img {
  filter: grayscale(50%);
  position: absolute;
  width: 100%;
}
.carousel-item.active {
  height: 500px;
  width: 100%;
}
.carousel-item {
  height: 500px;
  width: 100%;
}


/* sidebar home*/
.sidebar{
  border-radius: 15px;
  background: #a8dadc !important;
  margin: 30px 10px;
  padding: 10px;
    width: 80%;
}
a.proside {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
a.proside h3{
  text-align: center;
  margin-top: 20px;
}
.d-flex.flex-column.flex-shrink-0.p-3.bg-light {
  border-radius: 15px;
  background: #a8dadc !important;
}
.d-flex.flex-column.flex-shrink-0.p-3.bg-light {
  margin: 30px 10px;
}
/* end sidebar home */


/* pagination */
.pagination {
  justify-content: center;
}
/* end pagination */


/* home */
.countresult {
  margin: 20px;
}
.result{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}
.navhome {
  display: flex;
}
.navhome a{
  margin: 10px;
}
button.btn.btn-info {
  padding: 2px 10px;
}
button.btn.btn-info a {
  color: white;
  text-decoration: none;
}
.homehilight {
  display: flex;
  padding-top: 50px;
  padding-bottom: 10px;
  justify-content: center;
}
.col.homeimg {
  text-align: center;
}
.col.homeimg img {
  height: 300px;
}
container-fluid {
  padding: 0 !important;
}
/*  content */
.row.searchhome {
  justify-content: center;
}
button.btn-search {
  padding: 5px 28px;
  border-radius: 12px;
  border: none;
  background-image: linear-gradient(#6b2ce5, #d450e6);
}
.col-sm-12.search {
  text-align: -webkit-center;
}
.homesearch {
  padding: 20px;
}
form.search .form-group.row {
  margin: 10px;
}
.form-group.row .col-sm-10.search {
  text-align: -webkit-center;
}
.gard a {
  color: black;
  text-decoration: none;
}
form.Docid {
  margin: 30px 0;
}
.titleProjects {
  text-align: center;
}
/* end content */



/* footer */
.foot ul li a svg {
  display: none;
}
.foot {
  margin-top: 20px;
}
.footer-dark {
  padding: 20px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.fthome {
  position: relative; 
  padding: 30px 40px 5px 40px;
  background-color: #dddddd;
}

/* end footer */

/* orthor */
.container-fluid {
  padding: 0 !important;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.bg.section {
  margin: 20px 0;
  padding: 10px;
}
.bannerhome img {
  width: 406px;
  height: 244px;
}

.col.inner {
  text-align: right;
}
h1.searchtxt {
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.searchtxt {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.form-group.row {
  font-size: 18px;
}
.actiontxt {
  text-align: -webkit-center;
  margin: 46px 11px 0px 54px;
}

form.search {
  /* background-color: #A8DADC; */
  padding: 30px;
  border-radius: 15px;
}
.abtract{
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.gard a p {
  margin: 5px;
}
.showDoc{
  margin: 30px 0;
}
td.download a svg {
  color: black;
  width: 32px;
  margin-left: 25%;
}
td.view a i {
  color: black;
  width: 32px;
  margin-left: 25%;
}
.abs p {
  padding: 10px 20px;
}

/* book */
.col-3.bkall a {
  color: black;
  text-decoration: none;
}
.bkcnt {
  
  text-decoration: none;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 162px;
  margin: 30px 10px;
}
.bk.title {
  text-align: center;
  text-decoration: none;
}
.bk.author {
  text-align: center;
}
.bk.endtitle {
  text-align: center;
}

.imgbook img {
  margin-left: 38%;
  width: 75px;
}
.lastbook h3 {
  margin: 20px 0 10px 25px;
}
.titlebook {
  text-align: center;
  text-decoration: none;
  font-size: 10%;
  margin-top: 4%;
  color: gold;
}
.bookauthor {
  text-align: center;
  margin: 24% 0;
  font-size: 10%;
  color: gold;
}
.endtitlebook p {
  margin: 0 0 0 0;
  text-align: center;
  font-size: 10%;
  color: gold;
}
.endtitlebook {
  margin-bottom: 6%;
}
.col.book a {
  text-decoration: none;
}
.row.book {
  /* width: 20%; */
  color: gold;
  /* background-color: darkblue; */
  padding: 32px 13px 5px 24px;
}
.col.book {
  background-color: darkblue;
  margin: 0px 5px 13px 0px;
  padding: 23px 20px 5px 20px;
}